<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{book/base::layout(~{::section})}">
	<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<section>
    

  <div class="container my-5 col-md-6">
  		<table class="table  table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Author</th>
      <th scope="col">Price</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
     <tr th:each="b :${book}">
      <td th:text="${b.id}"></td>
      <td th:text="${b.name}"></td>
      <td th:text="${b.author}"></td>
      <td th:text="${b.price}"></td> 
      <td>
      <a style="color:blue;" th:href="@{/book/editBook/{id}(id=${b.id})}"><i class="fa-solid fa-pen-to-square ms-4"></i></a>
      <a style="color:red;" th:href="@{/book/deleteBook/{id}(id=${b.id})}"><i class="fa-solid fa-trash ms-4"></i></a>
      </td>
      
      
    </tr>
  </tbody>
</table>
  </div>
   
   
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    
</section>
</body>
</html>