<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    

    <title>Hello, world!</title>
       <script src="https://kit.fontawesome.com/0faddc1af8.js" crossorigin="anonymous"></script>
    
  </head>
  <body>
  
   
   <nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="#"><i class="fa-solid fa-book"></i> eBookStore</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" href="/userHomePage"><i class="fa-solid fa-house"></i> Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/available_books"><i class="fa-solid fa-book"></i> Available Books</a>
        </li>
        
        
        
      </ul>
      <div>
      <a class="nav-link text-white" href="/my_books"><i class="fa-solid fa-cart-plus"></i> MyBook Cart</a>
      </div>
      
       <div>
      <a class="nav-link text-white" href="/home"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
      </div>
      
    </div>
  </div>
</nav>
    <div class="container text-center">
   <h1 class="fw-bold mt-4"> welcome</h1>
   	</div>
   	
   	 <div class="container p-5">
    <div class="row">
      <div class="col-md-6">
        <h2>Welcome To Our eBookStore</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque odio nec elit convallis, nec fermentum odio vehicula. Aenean lobortis odio eget felis gravida sodales.</p>
      </div>
      <div class="col-md-6">
        <div class="image-container	">
          <img src="img/eBook.png" alt="Placeholder Image">
        </div>
      </div>
    </div>
  </div>
   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  </body>
</html>